<div class="card text-dark bg-light mb-3" style="max-width: 190rem;">
  <div class="card-body">
    <h1 class="card-title"><%= @post.title %></h1>
    <h2 class="card-subtitle mb-2 text-muted"><%= @post.item %></h2>
    <p class="card-text"><%= @post.body %></p>
    <%= link_to 'Edit', edit_post_path(@post), class:"btn btn-secondary" %>
    <%= link_to 'Delete', @post,  method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
	<%= link_to 'Back', posts_path, class:"btn btn-secondary" %>
  </div>
</div>